body{
    background-color: rgb(248, 175, 175);
    font-family: Arial;
    margin: 0;
}

header{
    background-color: rgb(201, 76, 76);
    color: rgb(252, 196, 196);
    text-align: center;
    padding: 30px;
}

h1{
    font-size: 40px ;
}

header p{
    font-size: 18px;
}

nav{
    background-color: rgb(243, 190, 190);
    padding: 15px;

}
nav a{
    color: rgb(151, 50, 50);
    margin: 20px;
    text-decoration: none;
}

main{
    background-color: white;
    width: 80%;
    margin: 20px auto;
    padding: 30px;
}

section{
    margin-bottom: 40px;
    padding: 20px;
    border: solid lightgray;
    border-radius: 10px;
}

h2{
    color: rgb(168, 65, 70);
    font-size: 20px;
}

p{
    font-size: 18px;
    line-height: 1.5;
}

img{
    width: 500px;
    max-width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid rgb(143, 87, 87);
    
}

li{
    font-size: 17px;
    margin: 8px;
}
h3{
    color: rgb(131, 54, 54);
}

footer{
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
    padding: 100px;

}

